<!DOCTYPE html>

{%load static %}

<html>
    <head>
        <title>GA Homepage</title>
        <link rel="stylesheet" href="{% static 'css/course.css' %}">
    </head>
    <body>
        <img src="{% static 'images/UofG.jpg' %}" alt="University of Glasgow Logo">
        <div class="header">
            <h1>University of Glasgow GA program</h1>
            <p1>This course allows student to gain valuable work experience while also getting a degree.</p1><br><br>

            <a href="/course/">Click here to view the courses we have on offer!</a>
        </div>
    </body>
</html>